@use "../../styles/variables.scss" as vars;

.tab {
  color: vars.$neutral-dark-80;
  @include vars.text-sm(500);
  margin-right: 16px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  div {
    padding: 0px 4px 16px 4px;
  }
  &.active {
    color: vars.$accent-blue;
  }
  &::after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background: vars.$accent-blue;
    position: relative;
    top: 1.5px;
    transition: all 0.3s ease-out;
  }
  &.active::after {
    width: 100%;
  }
  &:hover:after {
    width: 100%;
  }
  &:hover {
    color: vars.$accent-blue;
  }
}
