@use "../../styles/variables.scss" as vars;

.metrics {
  gap: 24px;
  margin-bottom: 24px;
}

.tableWrapper {
  margin-top: 24px;
}

.item {
  padding: 10px 14px;
  color: vars.$neutral-dark-100;
  @include vars.text-sm(500);
  &:hover,
  &.active {
    background: vars.$neutral-light-05;
    cursor: pointer;
  }
}

.label {
  padding: 10px 14px;
  color: vars.$neutral-dark-80;
  @include vars.text-xs(500);
  border-bottom: 1px solid vars.$neutral-light-15;
}
